# fly.toml app configuration file generated for pnld-ai-service on 2025-10-17T21:40:11-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pnld-ai-service'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  ENVIRONMENT = 'production'
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
